<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Admin{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('admin_films')}}">Films<a></li>
                    <li><a href="{{ path('admin_categories')}}">Categories<a></li>
                    <li><a href="{{ path('admin_casts')}}">Acteurs<a></li>
                    <li><a href="">User<a></li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
