{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="red">
    {% if categorie %}
       {{ categorie.nameCategory }}
    {% else %}
         Films
    {% endif %}
    </h1>

    <div class="row">
    {% for film in film %}

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">

           <a href="{{ path('films_details', {'id' : film.id}) }}"><img width="300" height="450" src="{{asset('public/uploads/affiches/'~film.affiche)}}"></a>
                <div class="caption">
                    <h3>{{ film.title }}</h3>
                </div>
            </div>
            </div>

    {% endfor %}
    </div>
{% endblock %}