{% extends 'base.html.twig' %}
{% block body %}
{% if error %}
    <div>{{ error.messageKey }}</div>
{% endif %}
<form action="{{ path('login') }}" method="post">
    <div class="row">
        <div class="col-md-6">
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="_password" class="form-control"/>
            <button type="submit" class="btn btn-primary">login</button>
        </div>
    </div>
</form>
{% endblock %}