{% extends 'admin/base.html.twig' %}
{% block body %}
<h1>{{ user.lastName }} {{ user.firstName }}</h1>
    <p><b>Date de naissance :</b> {{ user.birthday.date }}</p>
    <p><b>Rôle :</b> {{ user.isAdmin }}</p>
{% endblock %}